<!DOCTYPE html>
<html>

<head>
    <title> Login </title>
    <link rel="stylesheet" href="/css/google-login-button.css">
</head>

<body>
    <!--Index -->
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <div class="row">
                <div class="row top-margin">
                    <div class="col-sm-6">
                        <!-- 구글 로그인 버튼 디자인 -->
                        <div class='g-sign-in-button' onclick="location.href='<%= routes.googleAuth %>'">
                            <div class=content-wrapper>
                                <div class='logo-wrapper'>
                                    <img src='https://developers.google.com/identity/images/g-logo.png'>
                                </div>
                                <span class='text-container'>
                                    <span>Google 로그인</span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="row top-margin">
                    <div class="col-sm-6">
                        <input type="image" src="/images/kakao_login_medium_wide.png" onclick="location.href='<%= routes.kakaoAuth %>'"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</body>

</html>


<link rel="stylesheet" href="/css/style.css">